<!DOCTYPE html>
<html lang="en">
<head>
	<title>DQ Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="assets/img/favicon.png"/>
 
 
 	<!-- outside css -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  	<!-- For drawing gauges -->
	<script type="text/javascript" src="js/raphael-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/justgage.js"></script>
	<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
	
	<!-- outside js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  

    <!-- inside js -->
  	<script type="text/javascript" src="js/app-ajax.js"></script>
    <script type="text/javascript" src="js/dashboardCharts.js"></script>
    <script type="text/javascript" src="js/draggable.js"></script>
    <script type="text/javascript" src="js/filtersData.js"></script>
    
 
    <!-- inside css -->
 	<link rel="stylesheet" type="text/css" href="css/homeCss.css" />

	
	<script>
	
	var home = angular.module('home', []);
	home.controller('secondCtrl', function($scope, $http){
		
		
		
		//timeframe options
		$scope.timeOptions = [
		    { name: 'Last 7 days', value: 'week' }, 
		    { name: 'Last 30 days', value: 'month' }, 
		    { name: 'Previous Month', value: 'pmonth' },
		    { name: 'All time', value: 'alltime' }
		];
		    
		$scope.form = {type : $scope.timeOptions[0].value};
		
		
		//country options
		optionsForCountryFilter('CountrySelect');
		
		
		//drawing gauges
		var comp = new JustGage({id: "completeness",value: 0,min: 0,max: 100,title: "Completeness"});
		var conf = new JustGage({id: "conformancy",value: 0,min: 0,max: 100,title: "Conformancy"});
		var acc = new JustGage({id: "accuracy",value: 0,min: 0,max: 100,title: "Accuracy"});
		var cons = new JustGage({id: "consistency",value: 0,min: 0,max: 100,title: "Consistency"})  
		
		
	    //updating gauges when something changes
	    $scope.updateData = function(timeValue, regionValue) {
	    	$.get('rest/andmed/getCompleteness', {
				region: regionValue,
				timeframe: timeValue             
            }, function (responseText) {
            	comp.refresh(parseFloat(responseText));
            })
            
            $.get('rest/andmed/getConformancy', {
				region: regionValue,
				timeframe: timeValue             
            }, function (responseText) {
            	conf.refresh(parseFloat(responseText));
            })
            
            $.get('rest/andmed/getAccuracy', {
				region: regionValue,
				timeframe: timeValue             
            }, function (responseText) {
            	acc.refresh(parseFloat(responseText));
            })
            
            $.get('rest/andmed/getConsistency', {
				region: regionValue,
				timeframe: timeValue             
            }, function (responseText) {
            	cons.refresh(parseFloat(responseText));
            })
            
	    };
	    
	    
	    
	  	//executing initial data collection and drawing
	    $scope.updateData($scope.timeOptions[0].value, "BB");
	     
	});	
	</script>
	
</head>	
<body ng-app='home'>

	<!-- top navigation bar -->
	<div style="background-color:#100C08">		  
		<div class="topnav" id="myTopnav">
			<a class="active" href="homeDashboard.html">Overview</a>
			<a href="index.html">Chart generation</a>
		</div>
	</div>
  
  	
	<div ng-controller="secondCtrl" >
	
		<!-- gauges -->	  
        <div id="container">
        
	  		<div class="box"  style = "float:left; width:25%;">
	  			<div id="completeness" ></div>
	  			<div class="tooltip-info">How much data is missing?</div>
	  		</div>
  		
  			<div class="box"  style = "float:left; width:25%;">
	  			<div id="conformancy" ></div>
	  			<div class="tooltip-info">How much does the data value conform to formats and domain values?</div>
  			</div>
  		
  			<div class="box"  style = "float:left; width:25%;">
  				<div id="accuracy" ></div>
  				<div class="tooltip-info">How accurate is the data to the source?</div>
  			</div>
  		
  			<div class="box"  style = "float:left; width:25%;">
	  			<div id="consistency" ></div>
	  			<div class="tooltip-info">How many conflicts are between data values?</div>
  			</div>		
  
		</div>
		
		<!-- selection -->
		<div id="container">	
			<div class="form-control" >		
				<select name="TimeFrame" ng-model='form.type' required ng-options='option.value as option.name for option in timeOptions' ng-change="updateData(form.type, region.country)" id="TimeFrame"></select>
				<select name="CountrySelect" ng-model="region.country" ng-change="updateData(form.type, region.country)" id="CountrySelect"></select>		
			</div>							
		</div>
	</div>

</body>
</html>