<!DOCTYPE html>
<html lang="en">

    <head>
        <title>DQ Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="assets/img/favicon.png"/>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>
  		 <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
   		 <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <!--Internal-->
        <script type="text/javascript" src="js/dashboardCharts.js"></script>
        <script type="text/javascript" src="js/draggable.js"></script>
        <script type="text/javascript" src="js/filtersData.js"></script>
        <script type="text/javascript" src="js/createChartsFromCache.js"></script>
        <!--External-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!--Internal-->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="css/loader.css">

        <!--External-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css" rel="stylesheet">
        <!--http://blocks.org/mccannf/1629644-->
        
        <!-- Bootstrap Date-Picker Plugin kalendri jaoks -->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        
		<!-- muuda siin -->
        <script>
        
    
        
        $(function () {
            $("#date1").datepicker({
                dateFormat: "yy-mm-dd",
                timeFormat: "hh:mm:ss"
            });
 			//Alguskuupäevaks pakub 3 kuud enne tänast
            $("#date1").datepicker("setDate", "c-3m", new Date());
            $("#date1").datepicker({ dateFormat: 'yy-mm-dd' });
        });

        $( function() {
        	  $( "#date2" ).datepicker({
        	    dateFormat: "yy-mm-dd",
        	    timeFormat: "hh:mm:ss"
        	  });

 			//Lõppkuupäevaks pakub tänast
              $("#date2").datepicker("setDate", new Date());
              $("#date2").datepicker({ dateFormat: 'yy-mm-dd' });
        	});



        function updateGauges() {

        }




        function type(d) {
            d.value = +d.value; // coerce to number
            return d;
        }

        <!-- Init all charts-->

        $(".deleteMe").on("click", function(){
       		 	alert("Remove");
        	   $(this).closest("div").remove(); 
        	});


        function initialize() {

            setInterval(updateGauges, 5000);

         
            
        }
        var cachedData=[];
        var app = angular.module('app', ['ui.bootstrap']);
    	var selectedChart;
    
        function dropDownCtrl($scope) {

         $scope.items = ['Bar','Bubble','Donut','Heat map','Line','Map'];
          
        $scope.selectItem = function(item) {
          $scope.selectedItem = item;
          selectedChart=item;
        }
        }
        
        app.directive("addDiv", function ($compile) {
            return {
                restrict: 'AE',
                link: function (scope, element, attr) {
                    element.bind("click", function (e) {
                    	
                        var e = document.getElementById("split-button");
                       // var strUser = e.options[e.selectedIndex].text;
						var strUser=selectedChart;
             			
					

                        var date1 = $("#date1").val();


                        var date2 = $("#date2").val();
                         var validation= $('select[name=valName]').val();
                         console.log(validation);
                         var service =  $('select[name=ServiceSelect]').val();
                         var serviceGroupName =$('select[name=service_main_group_name]').val();
						 var MetricType=  $('select[name=MetricType]').val();
                         var country =  $('select[name=CountrySelect]').val();
                         if (country === "All") {
                             country = "GR";
                         }
				    	var qualityMetricName = $('select[name=Quality_metric_type_name]').val();


                        var container;
                        var childNode;
						
                       var dictionary={
                            metric_categ: MetricType,
                            service_group_name: serviceGroupName,
                            country: country,
                            metric_name: qualityMetricName,
                            date1: date1,
                            date2: date2,
                            service:service,
                            validation:validation,
                            strUser:strUser
                        }
                       cachedData.push(dictionary);
                       localStorage.setItem("cache", JSON.stringify(cachedData));
                        // GET Päringud servletidele ja chartide loomine. Chartide confimine ja chartide mudimine toimub chart.js failis
						var NoResTimer = 3000; //set time how long "no r
                        if (strUser == "Map") {

                        	
                        	
                            $.get('rest/andmed/getMapData', {
                                metric_categ: MetricType,
                                service_group_name: serviceGroupName,
                                country: country,
                                metric_name: qualityMetricName,
                                date1: date1,
                                date2: date2,
                                service:service,
                                validation:validation
                            }, function (responseText) {

                                var country = [];
                                var measures = [];
                                var extraInfo = [];
                                var count = 0;
                                var json = jQuery.parseJSON(responseText);
                                var divTag = "divMap_" + new Date().getTime().toString();
                                if (json.length > 0) {

                                    for (var i = 0; i < json.length; i++) {
                                        var obj = json[i];
										var parsedCountry;
                                       
                                        measures.push(obj.measure_amt);
                                        country.push(obj.country);
                                        extraInfo.push(obj.qualityMetricTypeComment);
                                        
                                        if(obj.country==="EST"){
                            				parsedCountry="EE";
                            			}
                            			if(obj.country==="LVA "){
                            				parsedCountry="LV";
                            			}
                            			if(obj.country==="LTU"){
                            				parsedCountry="LT";
                            			}
                                        var data={
                                            	 'metric_categ': MetricType,
                                                 'service_group_name': serviceGroupName,
                                                 'country': parsedCountry,
                                                 'metric_name': qualityMetricName,
                                                 'date1': date1,
                                                 'date2': date2,
                                                 'comment': obj.qualityMetricTypeComment,
                                                 'validation':validation
                                            };
                                        
                                       
                                        localStorage.setItem(divTag.concat(parsedCountry), JSON.stringify(data) );

                                        document.getElementById("demo").innerHTML = "";
                                    }
                                
                                    
                                    
                                    container = angular.element(document.querySelector("#container"));
                                    childNode = $compile('<div class="box-lrg"  ng-draggable="dragOptions"  style = "float:left; width: 50%;"><button type="button" class="close" onclick="$(this).parent().remove();">×</button><div id="' + divTag + '""></div></div>')(container);
                                    container.prepend(childNode);
                                    mapChart(divTag, country, measures, json[i - 1].qualityMetricTypeComment, qualityMetricName,serviceGroupName,date1.concat(" - "+date2));
                                    count = 0;
                                    
                                    var mapPlot = document.getElementById(divTag);
                                    
                                    
                                    
                                    mapPlot.on('plotly_click', function(d) {
                                    	//alert("Suka bljat"+JSON.stringify(d));
                                    	//var obj=JSON.parse(d);
                                    	console.log(JSON.stringify(d.points[0].location));
                                    
                                    	if(d.points[0].location===55.28){
                                    		
                                    		window.location.href ="advancedQuery.html?store=" + divTag.concat('LT') + "&result=2&country=LT";
                                    		
                                    	}else if(d.points[0].location===56.81){
                                    		
                                    		window.location.href ="advancedQuery.html?store=" + divTag.concat('LV') + "&result=2&country=LV";
                                    	
                                    	}else{
                                    		window.location.href ="advancedQuery.html?store=" + divTag.concat('EE') + "&result=2&country=EE";
                                    		
                                    	}
                                    	
                                    	
                                    	
                                    });
                                    
                                    

                                } else {
                                    document.getElementById("noResult").innerHTML = "No result";
                                    setTimeout(function(){document.getElementById("noResult").innerHTML = ""},NoResTimer);
                                }
								
                              
                                	
                                	
                                	
                              
                            });


                        }
                        if (strUser == "Bar") {
					
                            $.get('rest/andmed/getBarData', {
                                metric_categ: MetricType,
                                service_group_name: serviceGroupName,
                                country: country,
                                metric_name: qualityMetricName,
                                date1: date1,
                                date2: date2,
                                service:service,
                                validation:validation
                            }, function (responseText) {

                                //  var dd = JSON.parse(result);
                                var dataX = [];
                                var dataY = [];
                                var extraInfo = [];

                                var json = jQuery.parseJSON(responseText);
                                if (json.length > 0) {
                                    var divTag = "divBar_" + new Date().getTime().toString();
                                    for (var i = 0; i < json.length; i++) {
                                        var obj = json[i];
                                        dataX.push(obj.measure_date);
                                        dataY.push(obj.measure_amt);
                                        extraInfo.push(obj.service_main_group_name);

                                        var data={
                                           	 'metric_categ': MetricType,
                                                'service_group_name': serviceGroupName,
                                                'country': country,
                                                'metric_name': qualityMetricName,
                                                'date1': obj.measure_date,
                                                'date2': obj.measure_date,
                                                'comment': obj.qualityMetricTypeComment,
                                                'validation':validation
                                           };
                                        localStorage.setItem(divTag.concat(obj.measure_date), JSON.stringify(data) );

                                    }
                               
                         
                                    container = angular.element(document.querySelector("#container"));
                                    childNode = $compile('<div class="box-lrg"  ng-draggable="dragOptions"  style = "float:left; width: 50%;"><button type="button" class="close" onclick="$(this).parent().remove();">×</button><div id="' + divTag + '""></div></div>')(container);
                                    container.prepend(childNode);
                                    barChart(divTag, dataX, dataY, serviceGroupName, extraInfo, obj.qualityMetricTypeComment, country);
                                   
 									var barPlot = document.getElementById(divTag);
                                    
                                    
                                    
                                    barPlot.on('plotly_click', function(d) {
                                    	//alert("Suka bljat"+JSON.stringify(d));
                                    	//var obj=JSON.parse(d);
                                    	//alert(JSON.stringify(d.points[0]));
                                    	console.log(d);
                                     console.log(d.points[0].x);
                                     window.location.href ="advancedQuery.html?store=" + divTag.concat(d.points[0].x) + "&result=2&country="+country+"";
                                    	
                                    	
                                    	
                                    });
                                    
                                    document.getElementById("demo").innerHTML = "";
                                } else {
                                    document.getElementById("noResult").innerHTML = "No result";
                                    setTimeout(function(){document.getElementById("noResult").innerHTML = ""},NoResTimer);
                                }


                            });
                        }
                        if (strUser == "Line") {

                            $.get('rest/andmed/getLineData', {
                                metric_categ: MetricType,
                                service_group_name: serviceGroupName,
                                country: country,
                                metric_name: qualityMetricName,
                                date1: date1,
                                date2: date2,
                                service:service,
                                validation:validation
                            }, function (responseText) {

                                //  var dd = JSON.parse(result);
                                var dataX = [];
                                var dataY = [];
                                var extraInfo = [];

                                var json = jQuery.parseJSON(responseText);
                                if (json.length > 0) {

                                    for (var i = 0; i < json.length; i++) {
                                        var obj = json[i];
                                        dataX.push(obj.measure_date);
                                        dataY.push(obj.measure_amt);
                                        extraInfo.push(obj.service_main_group_name);



                                    }

                                    var divTag = "divBar_" + new Date().getTime().toString();
                                    container = angular.element(document.querySelector("#container"));
                                    childNode = $compile('<div class="box-lrg"  ng-draggable="dragOptions"  style = "float:left; width: 50%;"><button type="button" class="close" onclick="$(this).parent().remove();">×</button><div id="' + divTag + '""></div></div>')(container);
                                    container.prepend(childNode);
                                    lineChart(divTag, dataX, dataY,country,serviceGroupName,MetricType,qualityMetricName);

                                    document.getElementById("demo").innerHTML = "";
                                } else {
                                    document.getElementById("noResult").innerHTML = "No result";
                                    setTimeout(function(){document.getElementById("noResult").innerHTML = ""},NoResTimer);
                                }


                            });
                        }
                        if (strUser == "Heat map") {

                            $.get('rest/andmed/getHeatMapData', {
                                metric_categ: MetricType,
                                service_group_name: serviceGroupName,
                                country: country,
                                metric_name: qualityMetricName,
                                date1: date1,
                                date2: date2,
                                service:service,
                                validation:validation
                            }, function (responseText) {

                                //  var dd = JSON.parse(result);
                                var dataX = [];
                                var dataY = [];
                                var dataZ = [];
                                var dataZFull = [];
                                var extraInfo = [];

                                var json = jQuery.parseJSON(responseText);
                                if (json.length > 0) {

                                    for (var i = 0; i < json.length; i++) {
                                        var obj = json[i];
                                        dataX.push(obj.qualityMetricTypeComment);
                                        dataZFull.push(dataZ.push(obj.measure_amt));
                                        dataY.push(obj.qualityMetricTypeName);
                                        extraInfo.push(obj.service_main_group_name);




                                    }

                                    var divTag = "divBar_" + new Date().getTime().toString();
                                    container = angular.element(document.querySelector("#container"));
                                    childNode = $compile('<div class="box-full"  ng-draggable="dragOptions"  style = "float:left; width: 100%;"><button type="button" class="close" onclick="$(this).parent().remove();">×</button><div id="' + divTag + '""></div></div>')(container);
                                    container.prepend(childNode);
                                    heatMap(divTag, dataX, dataY, dataZ, serviceGroupName);

                                    document.getElementById("demo").innerHTML = "";
                                } else {

                                    document.getElementById("noResult").innerHTML = "No result";
                                    setTimeout(function(){document.getElementById("noResult").innerHTML = ""},NoResTimer);
                                }


                            });
                        }
                        if (strUser == "Bubble") {

                            $.get('rest/andmed/getHeatMapData', {
                                metric_categ: MetricType,
                                service_group_name: serviceGroupName,
                                country: country,
                                metric_name: qualityMetricName,
                                date1: date1,
                                date2: date2,
                                service:service,
                                validation:validation
                            }, function (responseText) {

                                //  var dd = JSON.parse(result);
                                var dataX = [];
                                var dataY = [];
                                var dataZ = [];
                                var dataDate = [];
                                var dataZFull = [];
                                var extraInfo = [];

                                var json = jQuery.parseJSON(responseText);
                                if (json.length > 0) {
                                	 var divTag = "divBubble_" + new Date().getTime().toString();
                                    for (var i = 0; i < json.length; i++) {
                                        var obj = json[i];
                                        dataX.push(obj.qualityMetricTypeComment);
                                        dataZFull.push(dataZ.push(obj.measure_amt));
                                        dataY.push(obj.qualityMetricTypeName);
                                        extraInfo.push(obj.service_main_group_name);
										dataDate.push(obj.measure_date)

										  var data={
                                        	 'metric_categ':MetricType,
                                             'service_group_name':obj.service_main_group_name,
                                             'country': country,
                                             'metric_name':obj.qualityMetricTypeName,
                                             'date1': date1,
                                             'date2': date2,
                                             'comment': obj.qualityMetricTypeComment,
                                             'validation':validation
                                        };
										   localStorage.setItem(divTag.concat(obj.measure_date), JSON.stringify(data) );
										  
										
                                    }

                                   
                                    container = angular.element(document.querySelector("#container"));
                                    childNode = $compile('<div class="box-full"  ng-draggable="dragOptions"  style = "float:left; width: 100%;""><button type="button" class="close" onclick="$(this).parent().remove();">×</button><div id="' + divTag + '""></div></div>')(container);
                                    container.prepend(childNode);
                                    bubbleChart(divTag, dataX, dataY, dataZ, serviceGroupName,dataDate,country);
                                   
                                    
                                    var myPlot = document.getElementById(divTag);
                                    myPlot.on('plotly_click', function(d) {
                                    	//alert("Suka bljat"+JSON.stringify(d));
                                    	//var obj=JSON.parse(d);
                                     	console.log(d);
                                        console.log(d.points[0].x);
                                        window.location.href ="advancedQuery.html?store=" + divTag.concat(d.points[0].x) + "&result=2&country="+country+"";
                                    	
                                    	
                                   
                                    });
                                    
                                    document.getElementById("demo").innerHTML = "";
                                } else {

                                    document.getElementById("noResult").innerHTML = "No result";
                                    setTimeout(function(){document.getElementById("noResult").innerHTML = ""},NoResTimer);
                                }


                            });
                        }
                        if (strUser == "Donut") {

                            $.get('rest/andmed/getDonutData', {
                                metric_categ: MetricType,
                                service_group_name: serviceGroupName,
                                country: country,
                                metric_name: qualityMetricName,
                                date1: date1,
                                date2: date2,
                                service:service,
                                validation:validation
                            }, function (responseText) {
                                var json = jQuery.parseJSON(responseText);

                                //  var dd = JSON.parse(result);
                                if (json.length > 0) {
                                    //	gauges[key].redraw(obj.completness);
                                    for (var i = 0; i < json.length; i++) {
                                        var obj = json[i];
                                   
                                     /*  if(obj.measure_amt<80){
                                    	  
                                    	   $.post( "rest/andmed/sendEmailNotification", function( data ) {
                                    		 	
                                    		 });
                                    
                                    	   
                                    	   
                                       }*/
                                        var divTag = "divDonut_" + new Date().getTime().toString();
                                   
                                        container = angular.element(document.querySelector("#container"));
                                        childNode = $compile('<div class="box"><button type="button" class="close" onclick="$(this).parent().remove();">×</button><div class="panel-body" id="' + divTag + '"" ></div></div>')(container);
                                        container.prepend(childNode);
                                        circleChart(divTag, obj.measure_amt, obj.service_main_group_name, country, qualityMetricName, obj.qualityMetricTypeComment, MetricType, date1.concat(" - "+date2));
                                        console.log(obj.qualityMetricTypeComment);
                                        var data={
                                             	 'metric_categ': MetricType,
                                                  'service_group_name': serviceGroupName,
                                                  'country': country,
                                                  'metric_name': qualityMetricName,
                                                  'date1': date1,
                                                  'date2': date2,
                                                  'comment': obj.qualityMetricTypeComment,
                                                  'validation':validation
                                             };
                                       localStorage.setItem(divTag, JSON.stringify(data) );
                                        
                                       var myPlot = document.getElementById(divTag);
                                        
                                        
                                        
                                        myPlot.on('plotly_click', function(d) {
                                        	//alert("Suka bljat"+JSON.stringify(d));
                                        	//var obj=JSON.parse(d);
                                        	console.log(JSON.stringify(d.points[0].label));
                                        	var labelName=JSON.stringify(d.points[0].label);
                                        	if(d.points[0].label===qualityMetricName){
                                        		
                                        		window.location.href ="advancedQuery.html?store=" + divTag + "&result=1";
                                        	}else{
                                        		window.location.href ="advancedQuery.html?store=" + divTag + "&result=0";
                                        	
                                        	}
                                        	
                                        	
                                       
                                        });
                                        //localStorage.setItem('Charts', $('#form').html());
                                    }
                                
                                    document.getElementById("demo").innerHTML = "";
                                } else {
                                    document.getElementById("noResult").innerHTML = "No result";
                                    setTimeout(function(){document.getElementById("noResult").innerHTML = ""},NoResTimer);
                                }
                            });

                        }

                    });
                }
            };
        });
	
        
        app.controller('firstCtrl', function ($scope) {
        	
        	 optionsForCountryFilter('CountrySelect');
         	 optionsForFilter('ServiceSelect','rest/andmed/getDisticntServices');
        	 optionsForFilter('Quality_metric_type_name','rest/andmed/getDisticntQualityMetricTypeName');
        	 optionsForFilter('service_main_group_name','rest/andmed/getDisticntQualityServiceName');
          	 optionsForFilter('MetricType','rest/andmed/getDistinctCategMetricType');
          	optionsForFilter('valName','rest/andmed/getDistinctValidationShortName');
          	/*if(localStorage.getItem('Charts')) {
          		$('#form').html(localStorage.getItem('Charts'));
          		alert("Got some");
          	}*/
    
          /*	if(localStorage.getItem('cache')) {
          	var localCache=JSON.parse(localStorage.getItem('cache'));
          	console.log(JSON.stringify(localCache));
          	for (i = 0; i < localCache.length; i++) {
          	    for (item in localCache[i]) {
          	  	  // console.log(item+" "+);
          	       reGenerateChart(localCache[i].metric_categ ,localCache[i].service_group_name,localCache[i].country,localCache[i].metric_name,localCache[i].date1,localCache[i].date2,localCache[i].service,localCache[i].validation,localCache[i].strUser);
          	    }
          	}
          	
          	
          	}*/
          	 localStorage.clear();
         
        });
        </script>
        <style>
        
        a.button {
			    -webkit-appearance: button;
			    -moz-appearance: button;
			    appearance: button;
			
			    text-decoration: none;
			    color: initial;
			}
        
        .box {
            
            border-radius: 3px;
            overflow: hidden;
            height: 350px;
            float: left;
            width: 550px;
            margin:5px;
            background: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        
        .box-lrg {
           
            border-radius: 3px;
            overflow: hidden;
            height: 450px;
            float: left;
            width: 750px;
            margin:5px;
            background: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .box-full {
            /*border: 1px solid black;*/
            border-radius: 3px;
            overflow: hidden;
            height: 500px;
            float: left;
            width: 1150px;
            margin: 5px;
            background: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        header img {
            float: left;
        }

        header {
            padding: 1em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }

        body {
            margin: 0;
            min-width:1200px; 
            background:	#f1f1f1;
        }

        .topnav {
            background-color: #333;
            overflow: hidden;
        }
        /* Style the links inside the navigation bar */

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        /* Change the color of links on hover */

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        /* Add a color to the active/current link */

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

		/*
        .input {
        	padding: 10px 20px;
        	margin: 7.5px 0;
        }
		*/	
        #form {
            margin:  50px;
            padding: 20px 30px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            background:	#fff;
        }

        .form-wrapper {
            margin: 20px 0;
        }

        select {
            margin: 10px 20px;
            font-size: 18px;
        }

        .button {
            border: none;
            padding: 10px 20px;
            margin-bottom: 10px;
            font-size: 14px;
            background-color: #ff7043;
            color: white;
            border-radius: 3.5px;
            transition: all 0.4s ease-in-out;
        }

        .button:hover {
            transition: all 0.4s ease-in-out;
            transform-origin: left;
            background-color: #FF7F50;
            color: #D2D9DA;
        }
        
        #noResult {
            font-size:  25px;
            color: red;
        }
        
        .page-header {
		  text-align: center;
		  margin: 25p 0;
		}
		
		.fiter_data{
			height:54px;
		}
		

        </style>


        <body ng-app="app">
        <div style="background-color:#100C08">
            
            <div class="topnav" id="myTopnav">

                    <a href="homeDashboard.html">Overview <span class="label label-danger" style="float:right;">2</span></a>
                <a class="active" href="index.html">Chart generation</a> 
            </div>
		</div>
            <div ng-controller="firstCtrl"">
            
            	<!--h1 class="page-header">Data generating charts</h1-->

				<!-- From version new -->
				<form id="form">
                    <div class="container">
					    <div class="row">
					        <div class="col-md-6">
					            <div class="form-wrapper">
					            <table>
					            <thead>
					            	<tr>
					            		<td style="width:125px"></td>
					            		<td style="width:150px"></td>
					            	</tr>
					            </thead>
					            <tbody>
					            	<tr class="fiter_data">
					            		<td><label for="ServiceSelect">Service</label></td>
					            		<td><select class="form-control" name="ServiceSelect" id="ServiceSelect"><option value="None">All services</option></select></td>
					            	</tr>
					            	<tr class="fiter_data">
					            		<td><label for="service_main_group_name">Service group name</label></td>
					            		<td><select class="form-control" name="service_main_group_name" id="service_main_group_name"></select></td>
					            	</tr>
					            	<tr class="fiter_data">
					            		<td><label for="Quality_metric_type_name">Data quality metric</label></td>
					            		<td><select class="form-control" name="Quality_metric_type_name" id="Quality_metric_type_name"></select></td>
					            	</tr>
									<tr class="fiter_data">
										<td><label for="valName">Validation shortname</label></td>
										<td><select class="form-control" name="valName"
											id="valName"><option value="None">All validations</option></select></td>
									</tr>
									<tr class="fiter_data">
					            		<td><label for="CountrySelect">Country</label></td>
					            		<td><select class="form-control" name="CountrySelect" id="CountrySelect"></select></td>
					            	</tr>
					            	
					            </tbody>
					            	
					            </table>            
	                			</div>
					        </div>
					        
					        <div class="col-md-6" >
					         <div class="form-wrapper">
					        	<table>
					        		<thead>
						            	<tr >
						            		<td style="width:150px"></td>
						            		<td style="width:150px"></td>
						            	</tr>
						            </thead>
						            <tbody>
						        		<tr class="fiter_data">
						        			<td><label for="MetricType">Metric type</label></td>
						        			<td><select class="form-control" name="MetricType" id="MetricType"></select></td>
						        		</tr>
						        		<tr class="fiter_data">
						        			<td><label for="date1">Start date</label></td>

						        			<td><input class="form-control"  id="date1"  value="2016-11-01" style="margin-left:20px;"></td>
						        		</tr>
						        		<tr class="fiter_data">
						        			<td><label for="date2">End date</label></td>
						        			<td><input class="form-control" id="date2"  value="2017-11-01" style="margin-left:20px;"></td>
						        		</tr>
						        		<tr class="fiter_data">
						        			<td> <label>Validation shortname</label></td>
						        			<td><select class="form-control" name="valName" id="valName"><option value="None">None</option></select></td>
						        		</tr>
						        		<tr class="fiter_data">
						        			<td><label for="ChartSelect">Chart</label></td>
						        			<td>
						        			<div class="chart-select">
						        				<select class="form-control" id="ChartSelect">
					                            <option value="ChartType">Bar</option>
					                            <option value="ChartType">Line</option>
					                            <option value="ChartType">Heat map</option>
					                            <option value="ChartType">Map</option>
					                            <option value="ChartType">Bubble</option>
					                            <option value="ChartType" selected>Donut</option>
				                         	</select>
				                         	</div>
						        			</td>
						        		</tr>
						        		<tr><td colspan="2"> </td></tr>
						        		<tr><td colspan="2"> </td></tr>
						        		<tr><td colspan="2"> </td></tr>
				
						        		
						        		<tr >
						        			<td colspan="2" >
											<div ng-controller="dropDownCtrl">
												<div class="btn-group dropdown" uib-dropdown="" style="">
													<button id="split-button" type="button"
														class="btn btn-danger" add-div>Generate</button>


													<button id="split-button" type="button"
														class="btn btn-danger dropdown-toggle">{{selectedItem || '... Chart'}} &#9660;</button>
													<ul uib-dropdown-menu="" role="menu"
														aria-labelledby="split-button" class="dropdown-menu">
														<li role="menuitem" ng-repeat="item in items"
															ng-click="selectItem(item)"><a href>{{item}}</a></li>
													</ul>
												</div>
											</div>
										</td>
						        			
						        		</tr >
						        		
					        		</tbody>
					        	</table>

                    			</div>
					        </div>
					    </div>
					</div>

                        <p id="demo"></p>
                        <p id="noResult"></p>
                     
                        
                        
                        <div class="loader"></div>
					
					</form>
				</div>
				
                <div ng-app="test" ng-controller="testCtrl">
                   <div id="container" style="width: 90%; margin:auto;"></div>
               </div> 

                    
                
            
        </body>

</html>
